@page "/"


<p>Hola @UtilidadesString.TooUpperCase(nombre)</p>
<p> Vamos a sumar 2+2 = @(5 + 5)</p>

<button @onclick="@click1">Click On Me</button>
<div>
    <h2>Películas</h2>
    @foreach (var pelicula in ObtenerPeliculas())

    {
        <div>
            <p>Título: <b>@pelicula.Titulo</b></p>
            <p>Fecha de lanzamiento:<b>@pelicula.Lanzamiento.ToString("dd MMM yyyy")</b></p>
        </div>
    }


    @for (var i=0; i< Peliculas.Count; i++)

    {
        <div>
            <p>@(i+1) Título: <b>@Peliculas[i].Titulo</b></p>
            <p>Fecha de lanzamiento:<b>@Peliculas[i].Lanzamiento.ToString("dd MMM yyyy")</b></p>
        </div>
    }



</div>
@code{
    string nombre = "David";

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }
    public List<Pelicula> Peliculas { get { return ObtenerPeliculas(); } }

    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
        {
            Titulo = "Los marsupilamos",
            Lanzamiento = new DateTime(2020, 11, 14)
        };
    }

    private List<Pelicula>ObtenerPeliculas()
    {
        return new List<Pelicula>() {

                new Pelicula() { Titulo = "Sipderman1", Lanzamiento = new DateTime(2020, 7, 12) },
            new Pelicula() { Titulo = "Sipderman2", Lanzamiento = new DateTime(2020, 7, 12) },
            new Pelicula() { Titulo = "Sipderman3", Lanzamiento = new DateTime(2020, 7, 12) }
        };
    }







    private void click1()
    {
        Console.WriteLine("Me han clickeado nene");
    }
}
